.gutter {
  /* padding: 0 3vw; */

}
.example-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
  border: 1px solid black;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid blue;
}

.mat-table-sticky:last-child {
  border-left: 1px solid red;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

td:nth-child(4) div {
  width: 200px;
}

td.mat-cell {
  padding: 10px;
}

td div {
  min-width: 50px;
  max-width: 200px;
}

